@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Mono";
  margin: 0px;
}

.layout {
  display: grid;
  height: 100vh;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.content {
  min-width: 400px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: wrap;
}

@keyframes blink {
  0% {
    border-bottom-color: var(--blink-color, currentColor);
  }
  50% {
    border-bottom-color: transparent;
  }
  100% {
    border-bottom-color: var(--blink-color, currentColor);
  }
}

.blinking-underline {
  border-bottom: solid var(--blink-color, currentColor);
  animation: blink 1s infinite;
}
