/* DEFAULT THEME */
#default {
  background: #e6b381;
  color: white;
}

/* Header */
#default .navbar a {
  color: white;
}

/* Typing Field */
#default .typed-correct-char {
  color: black;
}

#default .typed-incorrect-char {
  color: black;
  background: rgb(255, 116, 116);
}

/* Login / Signup / Account View */
#default .account-text-field {
  background-color: #d4a276;
}

#default .account-input-button {
  background-color: #bc8a5f;
  color: white;
}

#default .account-text {
  color: white;
  text-decoration: none;
}